
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./View/script.js"></script>
  <link href="./View/style.css" rel="stylesheet" type="text/css">
  <title>Planning Corvée Patates</title>
</head>
<body>
<div class="container">
  <p>Voici un calendrier annuel des corvées hebdomadaire d'épluchage des patates (rudimentaire et non finalisé !). </p>
  <ul>
    <li>Les éplucheurs sont répartis sur les 52 semaines de l'année. </li>
    <li>Une selection de l'année permet de faire défiler le calendrier.</li>
    <li>Les données seront stockées et gérées dans une base de données MongoDB. </li>
    <li>Vous devez finaliser vous-même la structure JSON des collections correspondantes.</li>
    <li>Les statistiques de l'année (Nb de semaines pour chaque participants, ...) seront calculées par les bonnes requêtes MongoDB (pas en PHP):</li>
    <li>L'accès à l'agenda, par un utislisateur, est conditionné par une connexion à son compte.</li>
  </ul>
  <h1> Planning des corvées d'épluchage</h1>
<p class="annee"><label>Année : <select name="annee">
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  <option value="2025">2025</option>
</select></label>
</p>
<form action="#" method="post" name="form1" id="form1">
	<input name="ecriture" type="hidden" value="1">
  <table border='1' align='center'>
    <tr>
      <td class="personne">08/01/2023
        <select name='0' class='form-control sel_field' id='sel_user_0' >   
          <!-- <option value="semaine_person"></option> listObj $user.nom selected=semaine(user), user.nbsemaine++ , return user.nom -->
          <!-- ici je veux remplir la liste deroulante avec les Personne.nom et veux changer la couleur du fond en fonction de Person.couleur -->
          <option value='0' > - Choisir un personne -</option>
        
        </select>
      </td>
      <td class="personne">15/01/2023
        <select name='1' class='form-control sel_field' id='sel_user_1' >
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">22/01/2023
        <select name='2' class='form-control sel_field' id='sel_user_2'>
          <option value='0' > - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">29/01/2023
        <select name='3' class='form-control sel_field' id='sel_user_3'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">05/02/2023
        <select name='4' class='form-control sel_field' id='sel_user_4'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
      </select>
      </td>
      <td class="personne">12/02/2023
        <select name='5' class='form-control sel_field' id='sel_user_5'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">19/02/2023
        <select name='6' class='form-control sel_field' id='sel_user_6'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">26/02/2023
        <select name='7' class='form-control sel_field' id='sel_user_7'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">05/03/2023
        <select name='8' class='form-control sel_field' id='sel_user_8'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">12/03/2023
        <select name='9' class='form-control sel_field' id='sel_user_9'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">19/03/2023
        <select name='10' class='form-control sel_field' id='sel_user_10'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">26/03/2023
        <select name='11' class='form-control sel_field' id='sel_user_11'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">02/04/2023
        <select name='12' class='form-control sel_field' id='sel_user_12'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">09/04/2023
        <select name='13' class='form-control sel_field' id='sel_user_13'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">16/04/2023
        <select name='14' class='form-control sel_field' id='sel_user_14'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">23/04/2023
        <select name='15' class='form-control sel_field' id='sel_user_15'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">30/04/2023
        <select name='16' class='form-control sel_field' id='sel_user_16'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">07/05/2023
        <select name='17' class='form-control sel_field' id='sel_user_17'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">14/05/2023
        <select name='18' class='form-control sel_field' id='sel_user_18'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">21/05/2023
        <select name='19' class='form-control sel_field' id='sel_user_19'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">28/05/2023
        <select name='20' class='form-control sel_field' id='sel_user_20'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">04/06/2023
        <select name='21' class='form-control sel_field' id='sel_user_21'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">11/06/2023
        <select name='22 class='form-control sel_field' id='sel_user_22'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">18/06/2023
        <select name='23' class='form-control sel_field' id='sel_user_23'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">25/06/2023
        <select name='23' class='form-control sel_field' id='sel_user_24'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">02/07/2023
        <select name='25' class='form-control sel_field' id='sel_user_25'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">09/07/2023
        <select name='26' class='form-control sel_field' id='sel_user_26'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
      </select>
      </td>
      <td class="personne">16/07/2023
        <select name='27' class='form-control sel_field' id='sel_user_27'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">23/07/2023
        <select name='28' class='form-control sel_field' id='sel_user_28'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">30/07/2023
        <select name='29' class='form-control sel_field' id='sel_user_29'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">06/08/2023
        <select name='30' class='form-control sel_field' id='sel_user_30'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">13/08/2023
        <select name='31' class='form-control sel_field' id='sel_user_31'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">20/08/2023
        <select name='32' class='form-control sel_field' id='sel_user_32'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">27/08/2023
      <select name='33' class='form-control sel_field' id='sel_user_33'>
        <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
      </select>
      </td>
      <td class="personne">03/09/2023
        <select name='34' class='form-control sel_field' id='sel_user_34'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">10/09/2023
        <select name='35' class='form-control sel_field' id='sel_user_35'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">17/09/2023
        <select name='36' class='form-control sel_field' id='sel_user_36'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">24/09/2023
        <select name='37' class='form-control sel_field' id='sel_user_37'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">01/10/2023
        <select name='38' class='form-control sel_field' id='sel_user_38'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">08/10/2023
        <select name='39' class='form-control sel_field' id='sel_user_39'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">15/10/2023
        <select name='40' class='form-control sel_field' id='sel_user_40'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">22/10/2023
        <select name='41' class='form-control sel_field' id='sel_user_41'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">29/10/2023
        <select name='42' class='form-control sel_field' id='sel_user_42'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">05/11/2023
        <select name='43' class='form-control sel_field' id='sel_user_43'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">12/11/2023
        <select name='44' class='form-control sel_field' id='sel_user_44'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">19/11/2023
        <select name='45' class='form-control sel_field' id='sel_user_45'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">26/11/2023
        <select name='46' class='form-control sel_field' id='sel_user_46'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">03/12/2023
        <select name='47' class='form-control sel_field' id='sel_user_47'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
    <tr>
      <td class="personne">10/12/2023
        <select name='48' class='form-control sel_field' id='sel_user_48'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">17/12/2023
        <select name='49' class='form-control sel_field' id='sel_user_49'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">24/12/2023
        <select name='50' class='form-control sel_field' id='sel_user_50'>
          <option value='0'> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
      <td class="personne">31/12/2023
        <select name='51' class='form-control sel_field' id='sel_user_51'>
          <option value='0' class="personne"> - Choisir un personne -</option>
          <!-- <option value="personne">personne</option>
          <option value="vincent"    >vincent</option>
          <option value="david"      >david</option>
          <option value="thomas"     selected >thomas</option>
          <option value="christophe"  >christophe</option> -->
        </select>
      </td>
    </tr>
  </table>
  <div>
    <div align="center">
      <p>
        <input id="validPlanning" type="button" value="Valider le planning">
        <!-- ici je veux renseigner les valeurs du tableau dans collection Planning.Stats -->
    </p>
    </div>
  </div>
</form>
<h2>Statistiques par ordre croissant</h2>
<!-- ici je veux afficher la collection Stats avec Planning.Stats.nom et Planning.Stat.nbSemaines -->
<ol>
  <li>Vincent : </li>
    <div id ="vincent"></div>
  <li>Christophe : </li>
    <div id = "christophe"></div>
  <li>David : </li>
    <div id ="david"></div>
  <li>Thomas : </li>
    <div id="thomas"></div>
</ol>
<p>&nbsp;</p>
</div>
</body>

</html>
